.site-mobile-header,
.site-header {
    border-bottom-color: $header-border-color;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	background: $header-background-color;
	color: $header-color;
    height: 64px;
    letter-spacing: .2px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    max-width: 100%;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    text-transform: none;
    align-items: center;
}
.site-mobile-title,
.site-title,
.site-mobile-title h2,
.site-title h2 {
	font-size:20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.site-mobile-title i,
.site-title i {
	margin-right: 5px;
}
.site-description,
.site-mobile-description {
	font-size: 13px;
	opacity: 0.8;
	margin-left: 30px;
}