.site-header {
	background: #FAFAFA;
	border-bottom: 1px solid #ddd;
    height: 64px;
    letter-spacing: .2px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    max-width: 100%;
    padding: 0 4px 0 8px;
    text-align: left;
    text-transform: none;
}
.site-title, .site-title h2 {
	font-size:24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.site-title i {
	margin-right: 5px;
}
.site-description {
	font-size: 16px;
	opacity: 0.9;
}