:root {
	--font-size-small: 14px;
	--font-size-medium: 16px;
	--font-size-large: 18px;	
}

$header-background-color: #222222;
$header-color: #fff;
$header-border-color: #5C3E5E;

$main-background-color: #fff;

$footer-background-color: #222222;
$footer-color: #ABABAB;


$navigation-background-color: #444444;
$navigation-color: #fff;
$navigation-background-color-hover: #363636;
$navigation-color-hover: #fff;
$navigation-border-color: #363636;
